@function breakpoint-next(
  $name,
  $breakpoints: $grid-breakpoints,
  $breakpoint-names: map-keys($breakpoints)
) {
  $n: index($breakpoint-names, $name);

  @return if(
    $n < length($breakpoint-names),
    nth($breakpoint-names, $n + 1),
    null
  );
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $type: type-of($name);
  $min: 0;

  @if $type == string {
    $min: map-get($breakpoints, $name);
  } @else if $type == number {
    $min: $name;
  } @else {
    $min: 0;
  }

  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $type: type-of($name);
  $next: 0;

  @if $type == string {
    $next: breakpoint-next($name, $breakpoints);
    $next: if($next, breakpoint-min($next, $breakpoints) - 0.02px, null);
  } @else if $type == number {
    $next: $name;
  } @else {
    $next: 0;
  }

  @return if($next != 0, $next, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, '', '-#{$name}');
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}
