{
	"extends": "stylelint-config-recommended",
	"plugins": [
		"stylelint-scss",
		"stylelint-order"
	],
	"rules": {
		"at-rule-empty-line-before": [
			"always",
			{
				"except": [
					"blockless-after-blockless",
					"first-nested"
				],
				"ignore": [
					"after-comment"
				],
				"ignoreAtRules": [
					"else"
				]
			}
		],
		"at-rule-name-case": "lower",
		"at-rule-name-space-after": "always",
		"at-rule-no-unknown": null,
		"at-rule-no-vendor-prefix": true,
		"at-rule-semicolon-newline-after": "always",
		"at-rule-semicolon-space-before": "never",
		"block-closing-brace-empty-line-before": "never",
		"block-closing-brace-newline-after": [
			"always",
			{
				"ignoreAtRules": [
					"if",
					"else"
				]
			}
		],
		"block-closing-brace-newline-before": "always",
		"block-opening-brace-newline-after": "always",
		"block-opening-brace-newline-before": "never-single-line",
		"block-opening-brace-space-before": "always",
		"color-hex-case": "lower",
		"color-hex-length": "short",
		"color-named": "never",
		"comment-whitespace-inside": "always",
		"custom-property-empty-line-before": "never",
		"declaration-bang-space-after": "never",
		"declaration-bang-space-before": "always",
		"declaration-block-no-redundant-longhand-properties": true,
		"declaration-block-semicolon-newline-after": "always",
		"declaration-block-semicolon-newline-before": "never-multi-line",
		"declaration-block-semicolon-space-before": "never",
		"declaration-block-trailing-semicolon": "always",
		"declaration-colon-space-after": "always-single-line",
		"declaration-colon-space-before": "never",
		"declaration-empty-line-before": [
			"always",
			{
				"except": [
					"after-comment",
					"after-declaration",
					"first-nested"
				]
			}
		],
		"declaration-no-important": true,
		"font-family-name-quotes": "always-unless-keyword",
		"font-family-no-missing-generic-family-keyword": null,
		"font-weight-notation": "numeric",
		"function-calc-no-unspaced-operator": true,
		"function-comma-newline-after": "always-multi-line",
		"function-comma-newline-before": "never-multi-line",
		"function-comma-space-after": "always-single-line",
		"function-comma-space-before": "never",
		"function-max-empty-lines": 0,
		"function-name-case": "lower",
		"function-parentheses-newline-inside": "always-multi-line",
		"function-parentheses-space-inside": "never",
		"function-url-quotes": "always",
		"function-whitespace-after": "always",
		"indentation": "tab",
		"length-zero-no-unit": true,
		"max-empty-lines": 1,
		"max-nesting-depth": [
			3,
			{
				"ignore": [
					"blockless-at-rules"
				]
			}
		],
		"media-feature-colon-space-after": "always",
		"media-feature-colon-space-before": "never",
		"media-feature-name-case": "lower",
		"media-feature-name-no-vendor-prefix": true,
		"media-feature-parentheses-space-inside": "never",
		"media-feature-range-operator-space-after": "always",
		"media-feature-range-operator-space-before": "always",
		"media-query-list-comma-newline-after": "always-multi-line",
		"media-query-list-comma-newline-before": "never-multi-line",
		"media-query-list-comma-space-after": "always-single-line",
		"media-query-list-comma-space-before": "never",
		"no-descending-specificity": null,
		"no-empty-source": null,
		"no-eol-whitespace": true,
		"no-missing-end-of-source-newline": true,
		"no-unknown-animations": true,
		"number-leading-zero": "never",
		"number-no-trailing-zeros": true,
		"property-case": "lower",
		"property-no-vendor-prefix": true,
		"rule-empty-line-before": [
			"always",
			{
				"except": [
					"first-nested"
				]
			}
		],
		"selector-attribute-brackets-space-inside": "never",
		"selector-attribute-operator-space-after": "never",
		"selector-attribute-operator-space-before": "never",
		"selector-attribute-quotes": "always",
		"selector-combinator-space-after": "always",
		"selector-combinator-space-before": "always",
		"selector-descendant-combinator-no-non-space": true,
		"selector-list-comma-newline-after": "always",
		"selector-list-comma-space-before": "never",
		"selector-max-empty-lines": 0,
		"selector-no-qualifying-type": true,
		"selector-no-vendor-prefix": true,
		"selector-pseudo-class-case": "lower",
		"selector-pseudo-class-parentheses-space-inside": "never",
		"selector-pseudo-element-case": "lower",
		"selector-pseudo-element-colon-notation": "double",
		"selector-type-case": "lower",
		"shorthand-property-no-redundant-values": true,
		"string-quotes": "single",
		"unit-case": "lower",
		"value-list-comma-newline-after": "always-multi-line",
		"value-list-comma-newline-before": "never-multi-line",
		"value-list-comma-space-after": "always-single-line",
		"value-list-comma-space-before": "never",
		"value-list-max-empty-lines": 0,
		"value-no-vendor-prefix": true,
		"scss/at-rule-no-unknown": true,
		"scss/at-if-closing-brace-newline-after": "always-last-in-chain",
		"scss/at-if-closing-brace-space-after": "always-intermediate",
		"scss/at-else-if-parentheses-space-before": "always",
		"scss/at-import-no-partial-leading-underscore": true,
		"scss/at-mixin-argumentless-call-parentheses": "always",
		"scss/at-mixin-parentheses-space-before": "never",
		"scss/dollar-variable-colon-space-after": "always-single-line",
		"scss/dollar-variable-colon-space-before": "never",
		"scss/double-slash-comment-whitespace-inside": "always",
		"scss/declaration-nested-properties": "never",
		"scss/operator-no-newline-after": true,
		"scss/operator-no-newline-before": true,
		"scss/operator-no-unspaced": true,
		"scss/selector-no-redundant-nesting-selector": true,
		"order/order": [
			[
				"dollar-variables",
				{
					"type": "at-rule",
					"name": "extend"
				},
				{
					"type": "at-rule",
					"name": "include"
				},
				"at-rules",
				"declarations",
				{
					"type": "at-rule",
					"name": "include",
					"parameter": "^media-breakpoint-"
				},
				{
					"type": "at-rule",
					"name": "media"
				},
				"rules"
			],
			{
				"unspecified": "bottom"
			}
		],
		"order/properties-order": [
			[
				"position",
				"top",
				"right",
				"bottom",
				"left",
				"z-index",
				"display",
				"visibility",
				"float",
				"clear",
				"overflow",
				"overflow-x",
				"overflow-y",
				"clip",
				"align-content",
				"align-items",
				"align-self",
				"flex",
				"flex-flow",
				"flex-basis",
				"flex-direction",
				"flex-grow",
				"flex-shrink",
				"flex-wrap",
				"justify-content",
				"order",
				"box-sizing",
				"margin",
				"margin-top",
				"margin-right",
				"margin-bottom",
				"margin-left",
				"padding",
				"padding-top",
				"padding-right",
				"padding-bottom",
				"padding-left",
				"min-width",
				"min-height",
				"max-width",
				"max-height",
				"width",
				"height",
				"outline",
				"outline-width",
				"outline-style",
				"outline-color",
				"outline-offset",
				"border",
				"border-spacing",
				"border-collapse",
				"border-width",
				"border-style",
				"border-color",
				"border-top",
				"border-top-width",
				"border-top-style",
				"border-top-color",
				"border-right",
				"border-right-width",
				"border-right-style",
				"border-right-color",
				"border-bottom",
				"border-bottom-width",
				"border-bottom-style",
				"border-bottom-color",
				"border-left",
				"border-left-width",
				"border-left-style",
				"border-left-color",
				"border-radius",
				"border-top-left-radius",
				"border-top-right-radius",
				"border-bottom-right-radius",
				"border-bottom-left-radius",
				"border-image",
				"border-image-source",
				"border-image-slice",
				"border-image-width",
				"border-image-outset",
				"border-image-repeat",
				"border-top-image",
				"border-right-image",
				"border-bottom-image",
				"border-left-image",
				"border-corner-image",
				"border-top-left-image",
				"border-top-right-image",
				"border-bottom-right-image",
				"border-bottom-left-image",
				"background",
				"filter:progid:DXImageTransform.Microsoft.AlphaImageLoader",
				"background-color",
				"background-image",
				"background-attachment",
				"background-position",
				"background-position-x",
				"background-position-y",
				"background-clip",
				"background-origin",
				"background-size",
				"background-repeat",
				"box-decoration-break",
				"box-shadow",
				"color",
				"table-layout",
				"caption-side",
				"empty-cells",
				"list-style",
				"list-style-position",
				"list-style-type",
				"list-style-image",
				"quotes",
				"content",
				"counter-increment",
				"counter-reset",
				"vertical-align",
				"text-align",
				"text-align-last",
				"text-decoration",
				"text-emphasis",
				"text-emphasis-position",
				"text-emphasis-style",
				"text-emphasis-color",
				"text-indent",
				"text-justify",
				"text-outline",
				"text-transform",
				"text-wrap",
				"text-overflow",
				"text-overflow-ellipsis",
				"text-overflow-mode",
				"text-shadow",
				"white-space",
				"word-spacing",
				"word-wrap",
				"word-break",
				"tab-size",
				"hyphens",
				"letter-spacing",
				"font",
				"font-weight",
				"font-style",
				"font-variant",
				"font-size-adjust",
				"font-stretch",
				"font-size",
				"font-family",
				"src",
				"line-height",
				"opacity",
				"filter",
				"resize",
				"cursor",
				"nav-index",
				"nav-up",
				"nav-right",
				"nav-down",
				"nav-left",
				"transition",
				"transition-delay",
				"transition-timing-function",
				"transition-duration",
				"transition-property",
				"transform",
				"transform-origin",
				"animation",
				"animation-name",
				"animation-duration",
				"animation-play-state",
				"animation-timing-function",
				"animation-delay",
				"animation-iteration-count",
				"animation-direction",
				"pointer-events",
				"unicode-bidi",
				"direction",
				"columns",
				"column-span",
				"column-width",
				"column-count",
				"column-fill",
				"column-gap",
				"column-rule",
				"column-rule-width",
				"column-rule-style",
				"column-rule-color",
				"break-before",
				"break-inside",
				"break-after",
				"page-break-before",
				"page-break-inside",
				"page-break-after",
				"orphans",
				"widows",
				"zoom",
				"max-zoom",
				"min-zoom",
				"user-zoom",
				"orientation"
			],
			{
				"unspecified": "bottom"
			}
		]
	}
}
