<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">

    <title>{{ title + ' | ' + site.name if title else site.name }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title | default(site.name) }}">
    <meta property="og:type" content="{{ ogType | default('website') }}">
    <meta property="og:image" content="{{ site.origin }}{{ site.publicPath }}assets/images/ogp.jpg">
    <meta property="og:url" content="{{ site.origin }}{{ page.url }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'pages/common/gtm-head.njk' %}

    {% if site.publicPath !== '/' %}
    <link rel="icon" href="{{ site.publicPath }}favicon.ico">
    {% endif %}

    {% include 'pages/common/styles.njk' %}

    {% for style in styles %}
    <link rel="stylesheet" href="{{ style | url }}">
    {% endfor %}

    {% include 'pages/common/scripts.njk' %}

    {% for script in scripts %}
    <script src="{{ script | url }}" defer></script>
    {% endfor %}
  </head>

  <body>
    {% include 'pages/common/gtm-body.njk' %}

    <div class="l-page">
      {% include 'pages/common/header.njk' %}

      <main class="l-main">
        {{ content | safe }}
      </main>

      {% include 'pages/common/footer.njk' %}
    </div>
  </body>
</html>
