<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">

    <title>{{ title + ' | ' + site.name if title else site.name }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title or site.name }}">
    <meta property="og:type" content="{{ ogType or 'website' }}">
    <meta property="og:image" content="{{ site.origin }}{{ '/assets/images/ogp.jpg' | url }}">
    <meta property="og:url" content="{{ site.origin }}{{ page.url }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'pages/common/gtm-head.njk' %}

    {% if site.publicPath !== '/' %}
    <link rel="icon" href="{{ '/favicon.ico' | url }}">
    {% endif %}

    {% block styles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/pages/common/style.css' | url }}">
    {% endblock %}

    {% block scripts %}
    <script src="{{ '/assets/scripts/runtime.js' | url }}" defer></script>
    <script src="{{ '/assets/scripts/vendors.js' | url }}" defer></script>
    <script src="{{ '/assets/scripts/viewport.js' | url }}"></script>
    <script src="{{ '/assets/scripts/pages/common.js' | url }}" defer></script>
    {% endblock %}
  </head>

  <body>
    {% include 'pages/common/gtm-body.njk' %}

    <div class="l-page">
      {% include 'pages/common/header.njk' %}

      <main class="l-main">
        {% block content %}
        {% endblock %}
      </main>

      {% include 'pages/common/footer.njk' %}
    </div>
  </body>
</html>
