<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ title + ' | ' + site.name if title else site.name }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title or site.name }}">
    <meta property="og:type" content="{{ og.type or 'website' }}">
    <meta property="og:image" content="{{ site.origin }}/ogp.jpg">
    <meta property="og:url" content="{{ site.origin }}{{ page.url | url }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="generator" content="Eleventy v{{ site.eleventyVersion }}" />

    {% include 'gtm-head.njk' %}

    {% block styles %}
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="/assets/styles/main.css" rel="stylesheet">
    {% endblock %}

    {% block scripts %}
    <script src="/assets/scripts/runtime.js"></script>
    <script src="/assets/scripts/viewport.js"></script>
    <script src="/assets/scripts/vendors.js" defer></script>
    <script src="/assets/scripts/main.js" defer></script>
    {% endblock %}
  </head>

  <body>
    {% include 'gtm-body.njk' %}

    <div class="l-page">
      {% include 'components/header.njk' %}

      <main class="l-main">
        {% block content %}
        {% endblock %}
      </main>

      {% include 'components/footer.njk' %}
    </div>
  </body>
</html>
