@use '../abstracts' as a;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[data-whatinput='mouse'] *:focus,
[data-whatinput='touch'] *:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  min-width: a.mq-get-breakpoint-width(sm);
  font-size: 62.5%;
  line-height: inherit;

  @include a.mq(md) {
    min-width: a.mq-get-breakpoint-width(lg);
  }
}

body {
  font-family: 'YakuHanJP_Noto', 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg {
  &:not([fill]) {
    fill: currentColor;
  }
}

table {
  border-collapse: collapse;
}
