@use '../abstracts' as a;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
  inline-flex;

@each $value in $displays {
  .u-d-#{$value} {
    // stylelint-disable-next-line declaration-no-important
    display: $value !important;
  }
}

@each $breakpoint in map-keys(a.$mq-breakpoints) {
  @include a.mq($breakpoint) {
    @each $value in $displays {
      .u-d-#{$breakpoint}-#{$value} {
        // stylelint-disable-next-line declaration-no-important
        display: $value !important;
      }
    }
  }
}
