@use "sass:map";
@use '../abstracts' as a;

$values: none, inline, inline-block, block, table, table-row, table-cell, flex,
  inline-flex;

@each $value in $values {
  .u-d-#{$value} {
    // stylelint-disable-next-line declaration-no-important
    display: $value !important;
  }
}

@each $breakpoint in map.keys(a.$breakpoints) {
  @include a.mq($breakpoint) {
    @each $value in $values {
      .u-d-#{$breakpoint}-#{$value} {
        // stylelint-disable-next-line declaration-no-important
        display: $value !important;
      }
    }
  }
}
