<script src="{{ '/assets/scripts/runtime.js' | url }}" defer></script>
<script src="{{ '/assets/scripts/vendors.js' | url }}" defer></script>
<script src="{{ '/assets/scripts/adjust-viewport.js' | url }}"></script>
<script src="{{ '/assets/scripts/pages/common.js' | url }}" defer></script>
