@charset 'utf-8';

// prerequisites
@import 'abstracts/*';

// vendors
@import 'vendors/*';
@import '~ress/ress';
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp.min.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

// categorized rules
@import 'utils/*';
@import 'base/*';
@import 'layout/*';
@import 'components/*';
