<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">
<link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
<link rel="stylesheet" href="{{ '/assets/styles/pages/common/style.css' | url }}">
