<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">

    <title>{{ page.title + ' - ' + site.name if page.title else site.name }}</title>
    <meta name="description" content="{{ page.description }}">

    <meta property="og:title" content="{{ page.title | default(site.name) }}">
    <meta property="og:type" content="{{ page.ogType | default('website') }}">
    <meta property="og:image" content="{{ site.origin }}{{ site.basePath }}assets/images/ogp.jpg">
    <meta property="og:url" content="{{ site.origin }}{{ page.path }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'includes/gtm-head.njk' %}

    {% if site.basePath !== '/' %}
      <link rel="icon" href="{{ site.basePath }}favicon.ico">
    {% endif %}

    {% block headBeforeEnd %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">
      <link rel="stylesheet" href="/assets/styles/main.css">
    {% endblock %}
  </head>

  <body>
    {% include 'includes/gtm-body.njk' %}

    <div class="l-page">
      {% include 'includes/header.njk' %}

      <main class="l-main">
        {% block content %}
        {% endblock %}
      </main>

      {% include 'includes/footer.njk' %}
    </div>

    {% block bodyBeforeEnd %}
      <script src="/assets/scripts/runtime.js" defer></script>
      <script src="/assets/scripts/vendors.js" defer></script>
    {% endblock %}
  </body>
</html>
