<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Document</title>
  <meta name="description" content="">

  <meta property="og:title" content=""><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="website"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content=""><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content=""><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content=""><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/index/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <%- include('/header') %>

    <main class="l-main">

    </main><!-- .l-main -->

    <%- include('/footer') %>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/index.js" defer></script>

</body>

</html>
