{% extends 'layouts/default.njk' %}

{% set title = 'Page Title' %}
{% set description = 'Page Description' %}
{% set ogType = 'website' %}

{% block headBeforeEnd %}
{{ super() }}
<link rel="stylesheet" href="/assets/styles/pages/index/style.css">
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyBeforeEnd %}
{{ super() }}
<script src="/assets/scripts/pages/index.js" defer></script>
{% endblock %}
