{% extends 'layouts/default.njk' %}

{% set page = page | setprop('title', 'Page Title') %}
{% set page = page | setprop('description', 'Page Description') %}

{% block headBeforeEnd %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/index/style.css">
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyBeforeEnd %}
  {{ super() }}
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/index.js" defer></script>
{% endblock %}
