{% extends 'layouts/base.njk' %}

{% block styles %}
{{ super() }}

<link href="/assets/styles/pages/index/style.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="/assets/scripts/pages/index.js" defer></script>
{% endblock %}

{% block content %}
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, vero nihil ducimus iusto voluptatem magni distinctio tempore vitae maxime? Nam sunt quaerat quas ex vel optio maiores odit minus mollitia?</p>
{% endblock %}
