{% extends 'layouts/base.njk' %}

{% block styles %}
{{ super() }}
<link href="{{ '/assets/styles/pages/index/style.css' | url }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ '/assets/scripts/pages/index.js' | url }}" defer></script>
{% endblock %}

{% block content %}
{% endblock %}
