{% extends 'layouts/base.njk' %}

{% block styles %}
{{ super() }}
<link href="{{ pathToRoot }}/assets/styles/pages/index/style.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ pathToRoot }}/assets/scripts/pages/index.js" defer></script>
{% endblock %}

{% block content %}
{% endblock %}
