<script src="/assets/scripts/runtime.js" defer></script>
<script src="/assets/scripts/vendors.js" defer></script>
<script src="/assets/scripts/adjust-viewport.js"></script>
<script src="/assets/scripts/pages/common.js" defer></script>
