<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Document</title>
  <meta name="description" content="">

  <meta property="og:title" content=""><!-- to support Twitter Cards, the content must be filled in -->
  <meta property="og:type" content="website"><!-- the content must be filled in with "website" for the top page and "article" for the other pages -->
  <meta property="og:image" content=""><!-- the content must be filled in with production URL of the image -->
  <meta property="og:url" content=""><!-- the content must be filled in with production URL of this page -->
  <meta property="og:description" content=""><!-- to support Twitter Cards, this tag is required and the content must be filled in -->
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include includes/_gtm-head %>

  <!-- <link rel="icon" href="/assets/images/favicon.ico"> -->
  <!-- <link rel="apple-touch-icon-precomposed" href="/assets/images/webclip.png"> -->

  <link rel="stylesheet" href="/assets/styles/style.css">
  <link rel="stylesheet" href="/assets/styles/top/index.css">
</head>

<body>

  <%- include ./includes/_gtm-body %>

  <div class="l-page">

    <%- include ./includes/_header %>

    <main class="l-main">

    </main><!-- .l-main -->

    <%- include ./includes/_footer %>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendor.js" defer></script>
  <script src="/assets/scripts/top/index.js" defer></script>

</body>

</html>
