<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Document</title>
	<meta name="description" content="">

	<meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="">
	<meta property="og:description" content="">
	<meta name="twitter:card" content="summary">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%- include includes/_gtm-head %>

	<!-- <link rel="icon" href="/assets/images/favicon.ico"> -->
	<!-- <link rel="apple-touch-icon-precomposed" href="/assets/images/webclip.png"> -->

	<link rel="stylesheet" href="/assets/styles/style.css">
	<link rel="stylesheet" href="/assets/styles/top/index.css">
</head>

<body>

	<%- include ./includes/_gtm-body %>

	<div class="l-page">

		<%- include ./includes/_header %>

		<main class="l-main">

		</main><!-- .l-main -->

		<%- include ./includes/_footer %>

	</div><!-- .l-page -->

	<script src="/assets/scripts/vendor.js"></script>
	<script src="/assets/scripts/top/index.js"></script>

</body>

</html>
