html {
  font-size: 62.5%;
}

body {
  min-width: map-get($grid-breakpoints, xs);
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-family: $font-family;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @include media-breakpoint-up(md) {
    font-size: 1.6rem;
  }
}

// アクセス解析スクリプトによって挿入される img 要素に起因する余分な空白の除去
// Elimination of extra whitespace caused by img element inserted by access analysis script

body > img {
  display: block;
  height: 0 !important; // stylelint-disable-line
  font-size: 0;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
