@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Source Han Sans';
	src: local('Source Han Sans Regular'),
		url('/assets/fonts/SourceHanSans-Regular.woff2') format('woff2'),
		url('/assets/fonts/SourceHanSans-Regular.woff') format('woff'),
		url('/assets/fonts/SourceHanSans-Regular.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'Source Han Sans';
	src: local('Source Han Sans Bold'),
		url('/assets/fonts/SourceHanSans-Bold.woff2') format('woff2'),
		url('/assets/fonts/SourceHanSans-Bold.woff') format('woff'),
		url('/assets/fonts/SourceHanSans-Bold.otf') format('opentype');
	font-display: swap;
}
